<h1>reddit on rails</h1>
<p><%= link_to 'New Post', new_post_path %></p>
<ol>
  <% @posts.each do |post| %>
  <li>
    <strong><%= link_to post.title, post.link, :target => "_blank" %></strong><br>
    <%= post.getScore %> | 
    <%= link_to 'Show Details', post_path(post) %> |
    upvote |
    downvote
  </li>
  <% end %>
</ol>
